<div class="yoandev-card">
	<h5 class="yoandev-card-title">{{ title }}</h5>
	<p class="yoandev-card-content">
		{{ content }}
	</p>
	<a href="{{ buttonUrl }}" type="button" class="yoandev-card-button">{{ buttonText }}</a>
</div>